* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    font: inherit;
}

body {
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
    background-color: #fbf9f7;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-700 {
    font-weight: 700;
}
