.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1142px;
    padding: 24px 16px 83px 16px;
    margin: 0 auto;

    @media only screen and (min-width: 768px) {
        max-width: 1190px;
        padding: 40px 40px 80px 40px;
    }

    @media only screen and (min-width: 1200px) {
        padding: 50px 40px 67px 40px;
    }
}

.btn-outline {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.14px;
    color: #172339;

    width: 182px;
    padding: 11px;
    background-color: transparent;
    border: 1px solid #172339;
    border-radius: 6px;

    cursor: pointer;
    transition: background-color 0.2s;

    @media only screen and (min-width: 768px) {
        width: 219px;

        font-size: 16px;
        line-height: 32px;
        letter-spacing: -0.16px;
    }
}

.btn-outline:hover {
    color: #faf8f6;
    background-color: #172339;
}
