.tess {
    max-width: 500px;
    height: 748px;
    margin: 0 auto;
    background: #172339;
    border-radius: 15px;
    position: relative;

    @media only screen and (min-width: 768px) {
        max-width: 690px;
        height: 684px;

        z-index: 2;
    }

    @media only screen and (min-width: 1200px) {
        max-width: 1110px;
        height: 545px;
        padding-left: 121.5px;

        display: grid;
        align-items: center;
        grid-template-columns: 360px 350px;
        column-gap: 152.7px;
    }

    &__img-wrapper {
        position: absolute;
        top: -175px;
        left: 50%;
        transform: translateX(-50%);

        @media only screen and (min-width: 1200px) {
            grid-column: 1 / 2;
            transform: revert;
            bottom: -4px;
            top: revert;
            left: revert;
        }
    }

    &__curved-line {
        position: absolute;
        top: 261px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;

        @media only screen and (min-width: 1200px) {
            top: 161.15px;
            width: revert;
        }
    }

    &__content {
        padding-top: 338px;
        text-align: center;

        @media only screen and (min-width: 1200px) {
            padding-top: revert;
            text-align: left;
            grid-column: 2 / 3;
        }
    }

    &__h2 {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.416667px;
        color: #faf8f6;
        margin-bottom: 40px;

        @media only screen and (min-width: 1200px) {
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.5px;
        }
    }

    &__p {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.09px;
        color: #f3ede7;

        max-width: 343px;
        margin: 0 auto;
        margin-bottom: 40px;

        @media only screen and (min-width: 768px) {
            max-width: 573px;
        }

        @media only screen and (min-width: 1200px) {
            font-size: 20px;
            line-height: 35px;
            letter-spacing: 0.1px;
        }
    }

    &__name {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.18px;
        color: #faf8f6;
    }

    &__p2 {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 2.5px;
        color: #f3ede7;
    }
}

.second-main {
    @media only screen and (min-width: 768px) {
        padding: 0 40px;
    }
}
