.tess {
    max-width: 500px;
    height: 748px;
    margin: 0 auto;
    background: #172339;
    border-radius: 15px;
    position: relative;

    @media only screen and (min-width: 768px) {
        max-width: 690px;
        height: 684px;

        z-index: 2;
    }

    @media only screen and (min-width: 1200px) {
        max-width: 1110px;
        height: 545px;
    }

    &__img-wrapper {
    }

    &__img {
    }

    &__curved-line {
        position: absolute;
    }

    &__content {
    }

    &__h2 {
    }

    &__p {
    }

    &__name {
    }

    &__p2 {
    }
}

.second-main {
    @media only screen and (min-width: 768px) {
        padding: 0 40px;
    }

    @media only screen and (min-width: 1200px) {
    }
}
